*__pycache__
*.html
*.mp4
/PGAS_Vergleich.pptx
/particle_gibbs.py
/Battery_APF_C1R1_fcn_2215.png
/Battery_APF_C1R1_fcn_26589.png
/Battery_APF_C1R1_fcn_6647.png
/Battery_APF_saved.npz
/FurtherApproaches.txt
/Paper_fig_online.svg
/Paper_fig_online.svg.2024_08_16_16_57_28.0.svg
/SingleMassOscillator_APF_Fsd_fcn_1.99.png
/SingleMassOscillator_APF_Fsd_fcn_11.99.png
/SingleMassOscillator_APF_Fsd_fcn_31.99.png
/SingleMassOscillator_APF_saved.npz
/SingleMassOscillator_PGAS_CovarianceOnly.py
/SingleMassOscillator_PGAS_Niharika.py
/VehicleSimulation_APF_X.pdf
/VehicleSimulation_APF_saved.npz
/Vehicle_APF_muf_fcn_1.99.png
/Vehicle_APF_muf_fcn_15.99.png
/Vehicle_APF_muf_fcn_7.99.png
/battery-half-fill-1472-svgrepo-com.svg
/car-svgrepo-com.svg
/grid_plot_online.png
/grid_plot_online.svg
/grid_plot_online_paper_teaser.svg
/particle_gibbs_functionbased.py
